body {
    font-family: 'Jost', sans-serif;
}
  
/* Styles for Navbar */

.custom-navbar {
    background-color: #507F9A !important;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
}

.hero-section {
    background-image: url(../images/hero-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumboCopy {
    text-align: center;
}



