body {
    font-family: 'Jost', sans-serif;
}
  
/* Styles for Navbar */

.custom-navbar {
    background-color: #507F9A !important;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
}

a:hover {
    background-color: rgb(46, 46, 236);
    border-radius: 0.375rem;
}

.hero-section {
    background-image: url(../images/hero-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumboCopy {
    text-align: center;
}

.work-par, .about-par {
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 20px;
}

.btn:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}

.custom-card-border{
    border: 0;
}

.about-me {
    background-color:#507F9A;
}

